@model WebApplicationAbad.Areas.AdminManageData.Data.Employee
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<style>
    ul{
        list-style:none;
        text-align:center
    }

    .popup-container, .popup-container2 {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .popup-content, .popup-content2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        width: 50%;
        direction: ltr;
    }

    #courseSelect {
        direction: ltr;
    }

    .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
        cursor: pointer;
    }

    label {
        display: block;
        margin-bottom: 10px;
    }

    .marg {
        margin-top: 70px;
        margin-bottom: 30px;
    }

    h4 {
        ont-size: 22px;
        font-weight: bold;
        color: #677880;
    }

    .table-action a {
        color: #ffffff;
    }

    .tab-title {
        font-size: 10px !important;
    }

    .tab-title1 {
        font-size: 12px !important;
    }

    .mod {
        margin-top: 30px;
        margin-bottom: 30px;
    }

        .mod button {
            font-size: 16px;
            font-weight: bold;
        }

    .Roal {
        display: none;
        flex-wrap: wrap
    }

    .active {
        display: none;
    }

</style>
<form id="account" asp-area="AdminManageData" asp-controller="Employee" asp-action="GetLoginEmployee">
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label">البريد الالكتورني</label>
        <input asp-for="Email" class="form-control form-control-lg" autocomplete="username" aria-required="true" placeholder="name@example.com"  required/>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Password" class="form-label">كلمة المرور</label>
        <input asp-for="Password" type="password" class="form-control form-control-lg" autocomplete="current-password" aria-required="true" placeholder="كلمة المرور" required/>
        <span asp-validation-for="Password" class="text-danger"></span>

        <small>
            <a class="openPopup">نسيت كلمة المرور ؟</a>
        </small>
    </div>
    <div>
    </div>
    <div class="d-grid gap-2 mt-3">
        <button id="login-submit" type="submit" class="btn btn-lg btn-primary">تسجيل دخول</button>
    </div>
    <div>
  </div>

</form>

<div id="popupContainer" class="popup-container">
    <div class="popup-content">
        <span class="close-btn" id="closePopup">&times;</span>
        <h2 class="text-center">اعادة تعين كلمة المرور</h2>
        <hr />
        <div style="text-align:right">
            <input id="mail" placeholder="ادخل البريد الالكتروني" class="form-control" type="email" style="width:70%; display:inline">
            <span for="courseSelect" style="font-size: 20px;font-weight: bold;margin-left:5px">البريد الالكتروني</span>
            <div id="comp" style="text-align:center;display:none"><label class="text-danger" style="text-align: center; font-size: 14px; margin-top: 10px; font-weight: bold;">البريد الالكتروني غير صالح</label></div>
        </div>
        <br />
        <div class="text-center">
            <button class="btn btn-primary" style="font-size: 20px;width: 50%;" id="subbtn">
                تاكيد
            </button>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script>
    $(document).ready(function () {
        $('.openPopup').each(function () {
            $(this).on('click', function () {
                var dataIdValue = $(this).data('id');
                $('#popupContainer').css('display', 'block');
            });
        });



        $('#closePopup').on('click', function () {
            $('#popupContainer').css('display', 'none');
        });

        $('.popupContent .moveStudent').on('click', function () {
            $('#popupContainer').css('display', 'none');
        });
    });
</script>


<script>
    $(document).ready(function () {
        $('#subbtn').click(function (e) {
            e.preventDefault();
            var Mail = $('#mail').val();

            $.ajax({
                url: '/AdminManageData/Employee/CheckEmailEmployee',
                type: 'GET',
                data: { Mail: Mail },
                success: function (result) {
                    if (result) {
                        Swal.fire({
                            title: `سيتم ارسال رابط اعادة تعيين كلمة المرور على البريد الكتروني ${Mail}`,
                            confirmButtonColor: '#095F90',
                            confirmButtonText: 'فهمت',
                            allowOutsideClick: false
                        }).then((result) => {
                            window.location.href = '/AdminManageData/Employee/GetLoginEmployee';

                        });
                    } else {
                        $('#comp').css('display', 'block');
                    }
                }
            });
        });
    });
</script>