@using System.Globalization;
@model WebApplicationAbad.Areas.AdminCoursesData.Models.SessionsRecord;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    nav{
        display:none !important
    }
</style>
<div class="row myrow">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">تعديل دورة @Model.CoursesScheduless.CoursesData.HeaderAr | @Model.CoursesScheduless.Trainer.NameAr |@Model.CoursesScheduless.StartDate</h2>
            </div>
            <div class="card-body">
               @* <form asp-action="SessionCreate" onsubmit="confirmFormAlert(this); return false">*@
                <form asp-action="SessionCreate">
                    <div class="row">
                           <div class="mb-3 col-12" hidden="true">
                            <label asp-for="Id" class=" control-label"></label>
                            <input asp-for="Id" class="form-control" placeholder="URl Metting" />
                        </div>
                        <div class="mb-3 col-12">
                            <label class="control-label">الاسبوع</label>
                            <select class="form-select" id="WeekIdSelect" asp-items="@ViewBag.Weeks" required>
                                <option value="">اختر الاسبوع</option>
                            </select>
                        </div>
                        <div class="mb-3 col-12">
                            <label class="control-label">اليوم</label>
                            <select class="form-select" asp-for="SessionsDayId" id="DayId" asp-items="@(ViewBag.Days ?? new SelectList(new List<SelectListItem>()))" required>
                                <option value="">اختر اليوم</option>
                            </select>
                        </div>

                        <div class="mb-3 col-12 col-md-12" >
                            <label  class="control-label">الرابط</label>
                            <input asp-for="Title" class="form-control" placeholder="URl Metting" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>

                    </div>
                    <button type="submit" class="btn btn-primary">تعديل</button>
                    <a asp-action="GetListOfSession" class="btn btn-info">الرجوع للخلف</a>
                </form>
            </div>
        </div>
    </div>
</div>



   @*<script>
        const confirmFormAlert = async function (form) {
            const sweetConfirm = await swal("Success!", "operation accomplished successfully", "success");
            if (sweetConfirm) {
                form.submit();
            }
            return sweetConfirm;
        }
    </script>*@







<script>

    document.addEventListener("DOMContentLoaded", function () {
        $('#WeekIdSelect').change(function () {
            var selectedValue = $(this).val();
            $.ajax({
                url: '/AdminCoursesData/Session/GetFilteredCoursesData',
                type: 'GET',
                data: { weekId: selectedValue },
                success: function (data) {
                    var coursesDataSelect = $('#DayId');

                    coursesDataSelect.empty();
                    coursesDataSelect.append($('<option>', {
                        value: '',
                        text: 'Please Select Day '
                    }));

                    $.each(data, function (index, item) {
                        coursesDataSelect.append($('<option>', {
                            value: item.value,
                            text: item.text
                        }));
                    });
                }
            });
        });
    });
</script>