@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Azure.Core;
@using WebApplicationAbad.Areas.AdminCoursesData.Models;
@using WebApplicationAbad.Areas.AdminManageData.Data;
@using WebApplicationAbad.Data;
@using Microsoft.AspNetCore.Http;
@using WebApplicationAbad.Areas.AdminManageData.Data;
@inject ApplicationDbContext context;
@model Student;
@{
    var Company = context.CompaniesData.ToList();
    SelectList listItems = new SelectList(Company,"Code","EnglishName");
    ViewBag.ListItmeData = listItems;
    var valueData = context.SelectDatas.Find(1);
}
<div class="modal-content myrow">
<div class="modal-header">
    <div class="mb-3 col-8">
        <label class="control-label">بحث</label>
            <input class="form-control" id="Inputsearch" placeholder="بحث برقم الهوية" />
    </div>
    <span class="close">&times;</span>
</div>
           <div class="modal-body">
               <form id="studentForm" asp-controller="CoursesScheduless" asp-action="GetStudentCreate">
            <input type="hidden" name="CoursesId" id="SchedulID" value="@valueData.VlaueData"/>
            <div class="row">
               
            <div class="mb-3 col-12 col-md-6 ">
                <label class="control-label">الاسم بالعربي</label>
                <input asp-for="ArabicName" class="form-control" placeholder="الاسم بالعربي" required />
            </div>
     
                <div class="mb-3 col-12 col-md-6">
                <label  class="control-label"> رقم الهويه</label>
                    <input asp-for="Idnumber" id="StudentID" class="form-control" placeholder="رقم الهويه" required />
            </div>
                <div class="mb-3 col-12 col-md-6">
                <label asp-for="Phone" class="control-label"> رقم الهاتف</label>
                    <input asp-for="Phone" class="form-control" placeholder="رقم الهاتف" required />
            </div>
                <div class="mb-3 col-12 col-md-6">
                    <label  class="control-label"> البريد الالكتروني</label>
                    <input id="email" type="email" asp-for="Email" class="form-control" placeholder="البريد الالكتروني" required />
                   
                </div>
                <div class="mb-3 col-12 col-md-6">
                    <label  class="control-label">الرقم السري</label>
                    <input type="text" asp-for="Password" class="form-control" placeholder="الرقم السري"  />

                </div>

               

                <div class="mb-3 col-12 col-md-6">
                <label  class="control-label"> المؤهل</label>
                <input asp-for="EducationsType" class="form-control" placeholder="اختر المؤهل" required />
            </div>
                <div class="mb-3 col-12 col-md-6">
                <label  class="control-label"> الجنس</label>
                    <select asp-for="Gender" class="form-select" id="courseTypeSelect" required>
                    <option value="">اختر النوع</option>
                    <option value="1">ذكر</option>
                    <option value="0">انثي</option>
                </select>
            </div>



            <div class="mb-3 col-12">
                    <label class="form-check m-0">
                        الشركه
                         <input class="form-check-input" name="IsCompany" value="false" type="checkbox" id="fomt" onclick="toggleSelect()" />
                    </label>
                </div>

           <div class="Roal" id="CompanyID">
            <div class="mb-3 col-12 " >
                    <label class="control-label">اسم الشركه</label>
                        <select id="selectCompany" class="form-select" asp-items="ViewBag.ListItmeData">
                        <option value="">اختر الشركه</option>
                    </select>
                </div>
            
           <div class="mb-3 col-12">
                        <label class="control-label">العقد</label>
                        <select class="form-select" name="ContractID" id="selectContract">
                    <option value="">اختر العقد</option>
                </select>
            </div>
            </div>

                <div class="mb-3">
                    <input asp-for="UserCode" type="text" value="111" hidden="false" class="form-control" />
                </div>
                <div class="mb-3" hidden="false">
                    <label asp-for="CreatedDate" class="control-label"></label>
                    <input asp-for="CreatedDate" type="text" value="@DateTime.Now" class="form-control" placeholder="Created Date" />
                    <span asp-validation-for="CreatedDate" class="text-danger"></span>
                </div>

           </div> 
          
        <div class="modal-footer">
                <button type="button" id="myBtn32" class="btn btn-danger Mot">خروج</button>
                <button type="submit" id="submitBtn" class="btn btn-primary">اضافه</button>
          </div>
        </form>
           </div> 
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $('#Inputsearch').keypress(function (e) {
            if (e.which === 13) {
                var inputValue = $(this).val();

                $.ajax({
                    url: '/AdminCoursesData/CoursesScheduless/GetDateStudent',
                    type: 'GET',
                    data: { id: inputValue },
                    cache: false,
                    success: function (result) {
                        $('#myModal').html(result);
                    }
                });
            }
        });
    });
</script>

<script>
    $(document).ready(function () {
        $('#submitBtn').click(function (e) {
            e.preventDefault();

            var form = $('#studentForm')[0];
            var isFormValid = form.checkValidity();

            if (!isFormValid) {
                form.reportValidity();
                return;
            }

            var StudentID = $('#StudentID').val();
            var IsCompany = $('#fomt').is(':checked'); 
            var SchedulID = $('#SchedulID').val();
            var Contract = $('#selectContract').val();
            var BooleanValue = $('#StudentID').prop('readonly');
            var email = $('#email').val();

            $.ajax({
                url: '/AdminCoursesData/CoursesScheduless/CheckID',
                type: 'GET',
                data: { StudentID: StudentID, IsCompany: IsCompany, SchedulID: SchedulID, Contract: Contract, boolValue: BooleanValue,email },
                success: function (result) {
                    if (result) {                        
                        $('#studentForm').submit();
                    } else {
                        swal({
                            title: "خطأ في البيانات",
                            text: '@valueData.MessageData',
                            icon: "error"
                        });
                    }
                },
            });
        });


    });

</script>
@if (ViewBag.MatchedStudent != null && ViewBag.MatchedStudent)
{
    <script>
        $(document).ready(function () {
            $('input').prop('readonly', true);
            $('#StudentID').prop('readonly', true);
            $('#courseTypeSelect').prop('readonly', true);
            $('#Inputsearch').prop('readonly', false);

        });
    </script>
}
else
{
    <script>
        $(document).ready(function () {
            $('input').prop('readonly', false);
            $('#StudentID').prop('readonly', false);
            $('#courseTypeSelect').prop('readonly', false);
            $('#Inputsearch').prop('readonly', false);
        });
    </script>
}


<script>

    document.addEventListener("change", function () {
        $('#selectCompany').change(function () {
            var selectedValue = $(this).val();
            $.ajax({
                url: '/AdminCoursesData/CoursesScheduless/GetCompanyData',
                type: 'GET',
                data: { CopanyId: selectedValue },
                success: function (data) {
                    var coursesDataSelect = $('#selectContract');

                    coursesDataSelect.empty();
                    coursesDataSelect.append($('<option>', {
                        value: '',
                        text: 'اختر العقد'
                    }));

                    $.each(data, function (index, item) {
                        coursesDataSelect.append($('<option>', {
                            value: item.value,
                            text: item.text
                        }));
                    });
                }
            });
        });
    });
</script>

<script>
    var modal = document.getElementById("myModal");

    var btn = document.getElementById("myBtn");
    var btn32 = document.getElementById("myBtn32");

    var span = document.getElementsByClassName("close")[0];

    btn.onclick = function () {
        modal.style.display = "block";
    }
    btn32.onclick = function () {
        modal.style.display = "none";
    }

    span.onclick = function () {
        modal.style.display = "none";
    }

    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }


    function FunPro() {
        var companyDiv = document.getElementById("CompanyID");
        var checkbox = document.getElementById("fomt");

        if (checkbox.checked) {
            companyDiv.style.display = "flex";
        } else {
            companyDiv.style.display = "none";
        }
    }
</script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
