@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model WebApplicationAbad.Areas.CompanyData.Models.CompaniesData
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row myrow">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">الشركات</h2>
            </div>
            <div class="card-body">

                <form asp-action="Create" enctype="multipart/form-data" onsubmit="confirmFormAlert(this); return false">
                    <div class="mb-3" hidden="false">
                        <label asp-for="Code" class="control-label"></label>
                        <input asp-for="Code" class="form-control" placeholder="Arabic Name" />
                        <span asp-validation-for="Code" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="control-label"> الاسم بالعربي</label>
                        <input asp-for="ArabicName" class="form-control" placeholder="الاسم بالعربي" required />
                        <span asp-validation-for="ArabicName" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="control-label"> الاسم بالانجليزي</label>
                        <input asp-for="EnglishName" class="form-control" placeholder="الاسم بالانجليزي" required />
                        <span asp-validation-for="EnglishName" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="control-label">اسم المسؤول بالعربي</label>
                        <input asp-for="ResponsibleNameAr" class="form-control" placeholder="اسم المسؤول بالعربي" required />
                    </div>
                    <div class="mb-3">
                        <label class="control-label">اسم المسؤول بالانجليزي</label>
                        <input asp-for="ResponsibleNameEn" class="form-control" placeholder="اسم المسؤول بالانجليزي" required />
                    </div>
                    <div class="mb-3">
                        <label class="control-label">رقم جوال المسؤول</label>
                        <input asp-for="ResponsiblePhone" class="form-control" placeholder="رقم المسؤول" required />
                    </div>
                    <div class="mb-3">
                        <label class="control-label">رقم جوال الشركة</label>
                        <input asp-for="Phone" type="number" class="form-control" placeholder="رقم الجوال" required />
                    </div>
                    <div class="mb-3">
                        <label class="control-label">البريد الالكتورني</label>
                        <input asp-for="Email" type="email" class="form-control" placeholder="البريد الالكتروني" required />
                    </div>

                    <div class="mb-3">
                        <label class="control-label">مجال العمل</label>
                        <input asp-for="WorkFiled" type="text" class="form-control" placeholder="مجال العميل" required />
                    </div>

                    <div class="mb-3 d-flex">
                        <div>
                            <label class="control-label">الصوره</label>
                            <input type="file" asp-for="FormFile" class="form-control" onchange="ImageLoad(event)" accept="image/png,image/jpeg" />
                        </div>
                        
                        
                        @if (ViewBag.BoolValue != null && !ViewBag.BoolValue)
                        {
                            <div>
                                <img id="LoadIameg" src="~/Admin/CoursesTypeImage/@Model.Image" width="150px" />
                            </div>
                        }
                        else
                        {
                            <div>
                                <img id="LoadIameg" width="150px" />
                            </div>
                        }

                    </div>                
                    <button type="submit" class="btn btn-primary">@ViewBag.coursesStatus</button>
                    <a asp-action="Index" class="btn btn-info">االرجوع للخلف</a>
                </form>
            </div>
        </div>
    </div>


</div>

<script>
    const confirmFormAlert = async function (form) {
        const sweetConfirm = await swal("Success!", "operation accomplished successfully", "success");
        if (sweetConfirm) {
            form.submit();
        }
        return sweetConfirm;
    }

    var currentImageSrc = null;

    var ImageLoad = function (event) {
        var allowedExtensions = ['jpg', 'png'];
        var file = event.target.files[0];
        var fileExtension = file.name.split('.').pop().toLowerCase();

        var img = document.getElementById("LoadIameg");

        if (allowedExtensions.includes(fileExtension)) {
            var red = new FileReader();
            red.onload = function () {
                currentImageSrc = img.src;
                img.src = red.result;
            }
            red.readAsDataURL(file);
        } else {
            if (currentImageSrc !== null) {
                img.src = currentImageSrc;
            }
            event.target.value = '';
            alert("Please Upload File Type (jpg, png) only");
        }
    }
</script>

