/* @media (min-width:992px) and (max-width:1268px) */
@media (min-width:992px) and (max-width:1268px) {

    /* header  */
    header .navbar .navbar-nav .nav-link {
        font-size: 13px;
    }

    header .navbar{
        width: 100%;
    }

    header .navbar .navbar-brand img {
        width: 109px;
        height: 51px;
    }

    .navbar .navbar-nav .nav-item .nav-but {
        padding: 8px 15px;
        font-size: 14px;
    }

    /* footer */
    footer {
        height: auto;
    }

    footer .links .footer-links .footer-icons-payment,
    footer .links .footer-links .footer-icons-social {
        display: none;
    }


    footer .media {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    footer .subscribe-media {
        display: none;
    }
}


/* @media (min-width:320px) and (max-width:991px) */
@media (min-width:500px) and (max-width:991px) {

    /* header  */
    header .navbar {
        width: 99%;
    }

    
    header .navbar .nav-item.lang {
        color:#0B325C !important;
        display: flex;
        justify-content: center;
        padding: 20px;
    }

    header .navbar .nav-item.lang span {
        color:#0B325C !important;
        font-weight: 700;
    }

    .navbar-nav {
        text-align: center;
        padding: 15px 0px;

    }

    .navbar-nav .btn1 {
        color: #095F90 !important;
        font-weight: 700;

    }

    .navbar-nav .btn1:hover {
        color: white !important;
    }

    header .navbar .navbar-nav .nav-link {
        color: #0B325C;
        padding: 15px 0px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.166);
        text-align: center;
    }

    header .navbar .navbar-brand img {
        width: 178px;
        height: 80px;
    }


    /* login */


    .login-background .login .card-login {
        max-width: 400px;
        min-width: 300px;
    }

    .login-background .login .card-login .link-forget {
        font-size: 14px;
        padding-right: 5px;
        padding-top: 3px;
    }

    .login-background .login .card-login .remmb {
        font-size: 14px;
    }

    /* footer */
    footer {
        height: auto;

    }

    footer .media-width {
        width: 100%;
        margin: auto;

    }

    footer .media-width .row {

        display: flex;
        flex-direction: column;
        text-align: right;
    }


    footer .footer-links {
        margin: 0px !important;
    }

    footer .footer-links h6 img {
        width: 205px;
        height: 96px;
        flex-shrink: 0;
        margin-bottom: 30px;

    }

    footer .links .footer-links .footer-icons-payment,
    footer .links .footer-links .footer-icons-social {
        display: none;
    }


    footer .media .footer-icons-social {
        width: 90%;
        margin: auto;
        margin-bottom: 10px;
        margin-top: 10px;
        justify-content: space-evenly;

    }


    footer .media .footer-icons-payment {
        width: 99%;
        margin: auto;
    }


    footer .media .footer-icons-payment img,
    footer .media .footer-icons-payment svg {
        width: 50px;
        height: 60px;
    }

    footer .media {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
    }


    footer .copyright {
        flex-direction: column !important;
    }

    footer .media .footer-media-contact {
        flex-direction: column;


    }

    footer .subscribe-media {
        display: none;
    }
}

/* @media (min-width:320px) and (max-width:991px) */
@media (min-width:320px) and (max-width:500px) {

    /* header  */
    header .navbar {
        width: 99%;
    }

    
    header .navbar .nav-item.lang {
        color:#0B325C !important;
        display: flex;
        justify-content: center;
        padding: 20px;
    }

    header .navbar .nav-item.lang span {
        color:#0B325C !important;
        font-weight: 700;
    }


    .navbar-nav {
        text-align: center;
        padding: 15px 0px;

    }

    .navbar-nav .btn1 {
        color: #095F90 !important;
        font-weight: 700;

    }

    .navbar-nav .btn1:hover {
        color: white !important;
    }

    header .navbar .navbar-nav .nav-link {
        color: #0B325C;
        padding: 15px 0px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.166);
        text-align: center;
    }

    header .navbar .navbar-brand img {
        width: 178px;
        height: 80px;
    }

    .navbar-nav .btn1 {
        color: #095F90 !important;
        font-weight: 700;

    }



    /* login */


    .login-background .login .card-login {
        width: 90vw;
    }

    .create-account {
        padding: 10px;
        font-size: 15px;
    }

    .submit-login {
        padding: 10px;
        font-size: 15px;
    }

    .social-message {
        margin: 10px 0px;
    }

    .login-background .login .card-login .link-forget {
        font-size: 12px;
        padding-right: 5px;
        padding-top: 3px;
    }

    .login-background .login .card-login .remmb {
        font-size: 12px;
    }

    /* footer */
    footer {
        height: auto;

    }

    footer .media-width {
        width: 100%;
        margin: auto;

    }

    footer .media-width .row {

        display: flex;
        flex-direction: column;
        text-align: right;
    }


    footer .footer-links {
        margin: 0px !important;
    }

    footer .footer-links h6 img {
        width: 205px;
        height: 96px;
        flex-shrink: 0;
        margin-bottom: 30px;

    }

    footer .links .footer-links .footer-icons-payment,
    footer .links .footer-links .footer-icons-social {
        display: none;
    }


    footer .media .footer-icons-social {
        width: 90%;
        margin: auto;
        margin-bottom: 10px;
        margin-top: 10px;
        justify-content: space-evenly;

    }


    footer .media .footer-icons-payment {
        width: 99%;
        margin: auto;
    }


    footer .media .footer-icons-payment img,
    footer .media .footer-icons-payment svg {
        width: 50px;
        height: 60px;
    }

    footer .media {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
    }


    footer .copyright {
        flex-direction: column !important;
    }

    footer .media .footer-media-contact {
        flex-direction: column;


    }

    footer .subscribe-media {
        display: none;
    }
}