/* @media (min-width:992px) and (max-width:1268px) */
@media (min-width:992px) and (max-width:1268px) {

    /* header  */
    header .navbar .navbar-nav .nav-link {
        font-size: 13px;
    }

    header .navbar {
        width: 100%;
    }

    header .navbar .navbar-brand img {
        width: 109px;
        height: 51px;
    }

    .navbar .navbar-nav .nav-item .nav-but {
        padding: 8px 15px;
        font-size: 14px;
    }
}


/* @media (min-width:320px) and (max-width:991px) */
@media (min-width:320px) and (max-width:991px) {

    /* header  */
    header .navbar {
        width: 99%;
    }


    header .navbar .nav-item.lang {
        color: #0B325C !important;
        display: flex;
        justify-content: center;
        padding: 20px;
    }

    header .navbar .nav-item.lang span {
        color: #0B325C !important;
        font-weight: 700;
    }

    header .navbar .navbar-brand img {
        width: 178px;
        height: 80px;
    }

    header .banner .banner__content h1 {
        color: var(--yellow);
        font-size: 28px;
        font-weight: 700;
    }

    header .banner .banner__content p {
        color: var(--white);
        font-size: 16px;
        font-weight: 700;
        margin-top: 31px;
        margin-bottom: 31px;
    }

    header .banner .banner__content .btn-banner {
        padding: 10px 30px;
        border-radius: 52px;
        font-size: 18px;
        color: var(--blue);
        font-weight: 700;


    }

    .navbar-nav {
        text-align: center;
        padding: 0px !important;

    }

    .navbar-nav .btn {
        font-weight: 700;

    }



    .navbar .navbar-nav.btns {
        flex-direction: column-reverse;
    }

    .navbar .navbar-nav.btns .nav-item .color-media {

        display: block;
        color: black;
    }

    .navbar .navbar-nav.btns .nav-item {
        width: 95%;
        margin: auto;
        text-align: center;
        padding: 15px 0px;
    }

    .navbar .navbar-nav.btns .nav-item .user-media {
        display: block;
        color: #0B325C;
        font-size: 18px;
        font-weight: 700;
    }

    .navbar .navbar-nav .nav-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 95%;
    }

    .navbar .navbar-nav .nav-item .user {
        display: flex;
        flex-direction: column;
        color: #0B325C !important;
        border-color: #095F90 !important;
    }



    .navbar .navbar-nav.btns .nav-item .dropdown-menu {
        margin-top: 20px !important;
        margin: 0;
    }

    .navbar .navbar-nav.btns .nav-item .color-desc {
        display: none;
    }


    .navbar .navbar-nav .nav-item .link-media {
        display: flex;
        text-decoration: none;
        color: #0B325C;
        font-size: 18px;
        font-weight: 700;
        justify-content: space-between;
    }


    .navbar-nav .btn:hover {
        color: white !important;
    }

    header .navbar .navbar-nav .nav-link {
        color: #0B325C;
        padding: 15px 0px;
        text-align: center;
        font-size: 16px;
        width: 95%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.166);
    }

    header .navbar .nav-but {
        color: black;
    }

    .navbar .navbar-nav.btns .nav-item .dropdown-menu {
        border: none;
        width: 100%;
    }

    .navbar .navbar-nav.btns .nav-item .dropdown-menu li {
        text-align: center;
        border-top: 1px solid rgba(9, 95, 144, 0.35) !important;
        padding: 15px 0px;

    }

    .navbar .navbar-nav.btns .nav-item .dropdown-menu li span {
        font-size: 17px !important;

        
    }

    .mycourses{
        color:var(--yellow) !important;
        }
}