@model WebApplicationAbad.Areas.AdminCoursesData.Models.Complaint
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Getcontact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 </header>
  <!-- contact -->
  <div class="contact-title">
    <h1>اتصل بنا</h1>
  </div>

  <div class="contact">
    <div class="right-contact">
      <ul>
        <li>
          <div class="left-item">
            <svg class="svg1" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 51 51" fill="none">
              <path
                d="M45.0523 7.4248H5.94768C2.66236 7.4248 0 10.0872 0 13.3716V37.6292C0 40.9137 2.66236 43.576 5.94768 43.576H45.0523C48.3367 43.576 51 40.9137 51 37.6292V13.3716C51 10.0872 48.3368 7.4248 45.0523 7.4248ZM48.1601 39.2315L47.028 40.5722L31.1735 27.6328L28.7181 29.969C26.8984 31.64 24.1017 31.64 22.2819 29.969L19.8265 27.6328L3.97202 40.5722L2.83986 39.2315L17.7255 25.6331L2.74235 11.5519L3.62817 10.3782L25.5 26.9507L47.3717 10.3782L48.2569 11.5519L33.2746 25.6331L48.1601 39.2315Z"
                fill="#095F90" />
            </svg>


            <svg class="svg2" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 51 51" fill="none">
              <path
                d="M45.0523 7.4248H5.94768C2.66236 7.4248 0 10.0872 0 13.3716V37.6292C0 40.9137 2.66236 43.576 5.94768 43.576H45.0523C48.3367 43.576 51 40.9137 51 37.6292V13.3716C51 10.0872 48.3368 7.4248 45.0523 7.4248ZM48.1601 39.2315L47.028 40.5722L31.1735 27.6328L28.7181 29.969C26.8984 31.64 24.1017 31.64 22.2819 29.969L19.8265 27.6328L3.97202 40.5722L2.83986 39.2315L17.7255 25.6331L2.74235 11.5519L3.62817 10.3782L25.5 26.9507L47.3717 10.3782L48.2569 11.5519L33.2746 25.6331L48.1601 39.2315Z"
                fill="#F2B829" />
            </svg>
          </div>
          <div class="right-item">
            <h6>بريدك الإلكتروني</h6>
            <p>info@abadnet.com.sa</p>
          </div>
        </li>


        <li style="padding: 25px 10px;">
          <div class="left-item" style="margin-left: 8px;">
            <svg class="svg1" xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 95 89" fill="none">
              <path
                d="M47.53 17.1785C44.4978 17.1797 41.4956 17.7243 38.6959 18.7812C35.8962 19.8381 33.354 21.3865 31.2153 23.3374C29.0766 25.2883 27.3835 27.6034 26.2332 30.1497C25.0828 32.6961 24.4979 35.4235 24.5119 38.1756C24.5119 52.6843 41.0019 65.9868 46.075 69.5083C46.5009 69.8275 47.0359 70.0021 47.5882 70.0021C48.1405 70.0021 48.6755 69.8275 49.1014 69.5083C54.1842 65.8812 70.5384 52.6843 70.5384 38.1756C70.5525 35.4243 69.9678 32.6975 68.8181 30.1518C67.6683 27.606 65.9761 25.2913 63.8384 23.3405C61.7007 21.3897 59.1597 19.8412 56.3611 18.7837C53.5625 17.7263 50.5614 17.1808 47.53 17.1785ZM47.53 46.8561C45.6115 46.8561 43.7361 46.3398 42.141 45.3724C40.5458 44.4051 39.3025 43.0301 38.5684 41.4214C37.8342 39.8127 37.6421 38.0426 38.0164 36.3348C38.3907 34.627 39.3145 33.0584 40.6711 31.8271C42.0276 30.5959 43.756 29.7574 45.6376 29.4177C47.5192 29.078 49.4696 29.2524 51.242 29.9187C53.0145 30.585 54.5294 31.7134 55.5953 33.1612C56.6611 34.609 57.23 36.3111 57.23 38.0523C57.23 40.3873 56.208 42.6265 54.3889 44.2776C52.5698 45.9286 50.1026 46.8561 47.53 46.8561Z"
                fill="#095F90" />
            </svg>

            <svg class="svg2" xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 95 89" fill="none">
              <path
                d="M47.53 17.1785C44.4978 17.1797 41.4956 17.7243 38.6959 18.7812C35.8962 19.8381 33.354 21.3865 31.2153 23.3374C29.0766 25.2883 27.3835 27.6034 26.2332 30.1497C25.0828 32.6961 24.4979 35.4235 24.5119 38.1756C24.5119 52.6843 41.0019 65.9868 46.075 69.5083C46.5009 69.8275 47.0359 70.0021 47.5882 70.0021C48.1405 70.0021 48.6755 69.8275 49.1014 69.5083C54.1842 65.8812 70.5384 52.6843 70.5384 38.1756C70.5525 35.4243 69.9678 32.6975 68.8181 30.1518C67.6683 27.606 65.9761 25.2913 63.8384 23.3405C61.7007 21.3897 59.1597 19.8412 56.3611 18.7837C53.5625 17.7263 50.5614 17.1808 47.53 17.1785ZM47.53 46.8561C45.6115 46.8561 43.7361 46.3398 42.141 45.3724C40.5458 44.4051 39.3025 43.0301 38.5684 41.4214C37.8342 39.8127 37.6421 38.0426 38.0164 36.3348C38.3907 34.627 39.3145 33.0584 40.6711 31.8271C42.0276 30.5959 43.756 29.7574 45.6376 29.4177C47.5192 29.078 49.4696 29.2524 51.242 29.9187C53.0145 30.585 54.5294 31.7134 55.5953 33.1612C56.6611 34.609 57.23 36.3111 57.23 38.0523C57.23 40.3873 56.208 42.6265 54.3889 44.2776C52.5698 45.9286 50.1026 46.8561 47.53 46.8561Z"
                fill="#F2B829" />
            </svg>
          </div>
          <div class="right-item">
            <h6> العنوان</h6>
            <p>الرياض ، الروضة ، شارع بن شاهين ، مقابل
              <br>ملاهي الروضة,المملكة العربية السعودية
              <br> - 13213 (SA)
            </p>
          </div>
        </li>


        <li>
          <div class="left-item">
            <svg class="svg1" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 56 56" fill="none">
              <g clip-path="url(#clip0_744_9297)">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M44.2988 39.5391C43.624 41.4492 40.9416 43.0295 38.8024 43.4916C37.338 43.8025 35.4284 44.0484 28.994 41.382C21.7672 38.3879 11.732 27.7227 11.732 20.6254C11.732 17.0123 13.8152 12.8051 17.458 12.8051C19.2108 12.8051 19.5972 12.8393 20.174 14.2229C20.8488 15.853 22.4952 19.8691 22.6912 20.2809C23.5004 21.9698 21.868 22.9585 20.6836 24.4289C20.3056 24.8714 19.8772 25.35 20.356 26.1734C20.832 26.9801 22.4784 29.6633 24.8976 31.8172C28.0224 34.6012 30.5564 35.4901 31.4636 35.8682C32.1384 36.1482 32.9448 36.083 33.4376 35.5564C34.062 34.8814 34.8376 33.7615 35.6272 32.658C36.1844 31.8682 36.8928 31.7695 37.6348 32.0496C38.136 32.2233 44.506 35.1815 44.7748 35.6549C44.9736 35.9994 44.9736 37.6289 44.2988 39.5391ZM28.0056 0H27.9916C12.5552 0 0 12.559 0 28C0 34.1226 1.97402 39.803 5.33122 44.4104L1.84241 54.8146L12.6028 51.3762C17.0296 54.3059 22.3132 56 28.0056 56C43.442 56 56 43.441 56 28C56 12.559 43.442 0 28.0056 0Z"
                  fill="#095F90" />
              </g>
              <defs>
                <clipPath id="clip0_744_9297">
                  <rect width="56" height="56" fill="white" />
                </clipPath>
              </defs>
            </svg>

            <svg class="svg2" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 56 56" fill="none">
              <g clip-path="url(#clip0_744_9297)">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M44.2988 39.5391C43.624 41.4492 40.9416 43.0295 38.8024 43.4916C37.338 43.8025 35.4284 44.0484 28.994 41.382C21.7672 38.3879 11.732 27.7227 11.732 20.6254C11.732 17.0123 13.8152 12.8051 17.458 12.8051C19.2108 12.8051 19.5972 12.8393 20.174 14.2229C20.8488 15.853 22.4952 19.8691 22.6912 20.2809C23.5004 21.9698 21.868 22.9585 20.6836 24.4289C20.3056 24.8714 19.8772 25.35 20.356 26.1734C20.832 26.9801 22.4784 29.6633 24.8976 31.8172C28.0224 34.6012 30.5564 35.4901 31.4636 35.8682C32.1384 36.1482 32.9448 36.083 33.4376 35.5564C34.062 34.8814 34.8376 33.7615 35.6272 32.658C36.1844 31.8682 36.8928 31.7695 37.6348 32.0496C38.136 32.2233 44.506 35.1815 44.7748 35.6549C44.9736 35.9994 44.9736 37.6289 44.2988 39.5391ZM28.0056 0H27.9916C12.5552 0 0 12.559 0 28C0 34.1226 1.97402 39.803 5.33122 44.4104L1.84241 54.8146L12.6028 51.3762C17.0296 54.3059 22.3132 56 28.0056 56C43.442 56 56 43.441 56 28C56 12.559 43.442 0 28.0056 0Z"
                  fill="#F2B829" />
              </g>
              <defs>
                <clipPath id="clip0_744_9297">
                  <rect width="56" height="56" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </div>
          <div class="right-item">
            <h6> واتساب</h6>
            <p>920009129</p>
          </div>
        </li>


        <li>
          <div class="left-item">
            <svg class="svg1" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 61 61" fill="none">
              <path
                d="M51.1457 7.97647H46.4534V6.09955C46.4534 3.98801 44.8111 2.3457 42.6996 2.3457C40.588 2.3457 38.9457 3.98801 38.9457 6.09955V7.97647H22.0534V6.09955C22.0534 3.98801 20.4111 2.3457 18.2996 2.3457C16.188 2.3457 14.5457 3.98801 14.5457 6.09955V7.97647H9.85343C6.80343 7.97647 4.22266 10.5572 4.22266 13.6072V15.4842C4.22266 16.5399 5.04381 17.3611 6.09958 17.3611H54.8996C55.9553 17.3611 56.7765 16.5399 56.7765 15.4842V13.6072C56.7765 10.5572 54.1957 7.97647 51.1457 7.97647Z"
                fill="#095F90" />
              <path
                d="M54.8996 22.9922H6.09958C5.04381 22.9922 4.22266 23.8133 4.22266 24.8691V53.023C4.22266 56.073 6.80343 58.6537 9.85343 58.6537H51.1457C54.1957 58.6537 56.7765 56.073 56.7765 53.023V24.8691C56.7765 23.8133 55.9553 22.9922 54.8996 22.9922ZM30.4996 54.7826C22.7573 54.7826 16.54 48.448 16.54 40.823C16.54 33.0806 22.8746 26.8633 30.4996 26.8633C38.1246 26.8633 44.4592 33.198 44.4592 40.823C44.4592 48.5653 38.2419 54.7826 30.4996 54.7826Z"
                fill="#095F90" />
              <path
                d="M31.9072 40.2366V34.2539C31.9072 33.7847 31.438 33.3154 30.9687 33.3154H30.0303C29.561 33.3154 29.0918 33.7847 29.0918 34.2539V40.8231C29.0918 41.175 29.2091 41.527 29.561 41.7616L34.0187 46.2193C34.3706 46.5712 34.9572 46.5712 35.3091 46.2193L36.013 45.5154C36.3649 45.1635 36.3649 44.577 36.013 44.225L31.9072 40.2366Z"
                fill="#095F90" />
            </svg>

            <svg class="svg2" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 61 61" fill="none">
              <path
                d="M51.1457 7.97647H46.4534V6.09955C46.4534 3.98801 44.8111 2.3457 42.6996 2.3457C40.588 2.3457 38.9457 3.98801 38.9457 6.09955V7.97647H22.0534V6.09955C22.0534 3.98801 20.4111 2.3457 18.2996 2.3457C16.188 2.3457 14.5457 3.98801 14.5457 6.09955V7.97647H9.85343C6.80343 7.97647 4.22266 10.5572 4.22266 13.6072V15.4842C4.22266 16.5399 5.04381 17.3611 6.09958 17.3611H54.8996C55.9553 17.3611 56.7765 16.5399 56.7765 15.4842V13.6072C56.7765 10.5572 54.1957 7.97647 51.1457 7.97647Z"
                fill="#F2B829" />
              <path
                d="M54.8996 22.9922H6.09958C5.04381 22.9922 4.22266 23.8133 4.22266 24.8691V53.023C4.22266 56.073 6.80343 58.6537 9.85343 58.6537H51.1457C54.1957 58.6537 56.7765 56.073 56.7765 53.023V24.8691C56.7765 23.8133 55.9553 22.9922 54.8996 22.9922ZM30.4996 54.7826C22.7573 54.7826 16.54 48.448 16.54 40.823C16.54 33.0806 22.8746 26.8633 30.4996 26.8633C38.1246 26.8633 44.4592 33.198 44.4592 40.823C44.4592 48.5653 38.2419 54.7826 30.4996 54.7826Z"
                fill="#F2B829" />
              <path
                d="M31.9072 40.2366V34.2539C31.9072 33.7847 31.438 33.3154 30.9687 33.3154H30.0303C29.561 33.3154 29.0918 33.7847 29.0918 34.2539V40.8231C29.0918 41.175 29.2091 41.527 29.561 41.7616L34.0187 46.2193C34.3706 46.5712 34.9572 46.5712 35.3091 46.2193L36.013 45.5154C36.3649 45.1635 36.3649 44.577 36.013 44.225L31.9072 40.2366Z"
                fill="#F2B829" />
            </svg>
          </div>
          <div class="right-item">
            <h6> ساعات العمل</h6>
            <p>الأحد - الأربعاء (من الساعة 10:00 ص حتى
              <br> 10:00 م) - الخميس (إجازة رسمية) الجمعة
              <br> (من الساعة 02:00 م حتى
              09:0 م)السبت
              <br> (من الساعة 01:00 م حتى 09:0 م)
            </p>
          </div>
        </li>


      </ul>
    </div>
    <div class="left-contact ">

      <div class="card card-company">
        <div class="row g-0">

          <div class="col-md-6 col-lg-7 w-100 ">
            <div class="card-body p-4 p-lg-5 text-black">

                        <form class="row justify-content-between" onsubmit="return validateForm()" asp-action="Getcontact">

                            <div class="d-flex  align-items-center justify-content-center mb-3  w-100"
                                 style="flex-direction: column;">
                                <span class="fs-5 fw-bold mb-0 text-center w-100" style="
                                  color: white"> هل لديك استفسار ؟ و الاقتراحات و الشكاوي</span>

                                <p class="card-p text-center">
                                    هذا النص هو مثال لنص يمكن أن يستبدل في نفـس المســـاحة، لقد تم توليد هذا
                                    ا...هذا النص هو مثال لنص يمكن أن يستبدل في نفـس المســـاحة، لقد تم توليد هذا ا...
                                </p>
                            </div>
                            <div class="form-outline col-12 col-md-12    mb-4">
                                <input type="text" id="FullName" asp-for="UserName" placeholder="الاسم الكامل" class="form-control form-control-lg "
                                       style="font-size: 14px; padding:16px;" required />
                            </div>

                            <div class="form-outline col-12 col-md-12    mb-4">
                                <input type="email" asp-for="Email" id="OurEmail" placeholder="البريد الالكتروني" class="form-control form-control-lg " style="font-size: 14px; padding:16px;" required />
                            </div>


                            <div class="form-outline col-12 col-md-12   mb-4">
                                <input dir="rtl" asp-for="Phone" type="tel" id="telphone" class="form-control form-control-lg "
                                       placeholder=" رقم الجوال " style="font-size: 14px; padding:16px;" required />
                            </div>
                            <div class="form-outline col-12 col-md-12   mb-4">
                                <select type="text" asp-for="TypeResqust" id="TitleJob" placeholder=" نوع الطلب" class="form-control form-control-lg " style="font-size: 14px; padding:16px;" />
                                <option value="شكوى">شكوى</option>
                                <option value="اقتراح">اقتراح</option>
                                <option value="استفسار">استفسار</option>
                                <option value="اخرى">اخرى</option>
                                </select>
                            </div>

                            <div class="form-outline col-12 col-md-12 col-lg-12   mb-4">
                                <textarea cols="30" asp-for="Nots" rows="3" required id="detais" class="form-control form-control-lg "
                                          style="font-size: 14px; ">
                                     </textarea>
                            </div>






                            <div class="form-outline  col-6 col-md-6   mb-4">
                                <input type="number" id="userCode" placeholder=" ادخل الكود " class="form-control form-control-lg "
                                       style="font-size: 14px; padding:16px;" />
                            </div>

                            <div class="form-outline col-6 col-md-6  mb-4 check-num ">
                                <span id="ranNum"> </span>
                                <div id="generate" onclick="generateRandomNumber()">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"
                                         fill="none">
                                        <path d="M5.85961 16.0022C5.86017 16.5545 6.30833 17.0017 6.86061 17.0011C7.41289 17.0006 7.86017 16.5525 7.85961 16.0002L5.85961 16.0022ZM12.4463 7.37846L12.0524 6.45931L12.0511 6.45985L12.4463 7.37846ZM17.6742 6.84513L17.8776 5.86602L17.8745 5.86537L17.6742 6.84513ZM23.6185 13.6107C23.771 14.1415 24.3251 14.4481 24.8559 14.2955C25.3867 14.143 25.6933 13.589 25.5406 13.0582L23.6185 13.6107ZM23.6117 13.0829C23.4728 13.6175 23.7936 14.1634 24.3281 14.3023C24.8626 14.4413 25.4085 14.1205 25.5474 13.5859L23.6117 13.0829ZM26.4941 9.94333C26.633 9.40879 26.3124 8.86286 25.7778 8.72395C25.2433 8.58503 24.6973 8.90574 24.5584 9.44027L26.4941 9.94333ZM24.3133 14.2983C24.8456 14.4454 25.3964 14.1331 25.5434 13.6009C25.6906 13.0685 25.3783 12.5177 24.846 12.3706L24.3133 14.2983ZM21.314 11.3946C20.7816 11.2475 20.2308 11.5598 20.0837 12.0921C19.9367 12.6244 20.2489 13.1752 20.7813 13.3223L21.314 11.3946ZM26.5263 16.0002C26.5257 15.4478 26.0776 15.0006 25.5253 15.0011C24.9731 15.0017 24.5257 15.4498 24.5263 16.0022L26.5263 16.0002ZM14.7116 25.1571L14.5083 26.1362L14.5114 26.1369L14.7116 25.1571ZM8.76737 18.3915C8.6148 17.8607 8.06082 17.5542 7.53004 17.7067C6.99924 17.8593 6.69262 18.4133 6.8452 18.9441L8.76737 18.3915ZM8.77413 18.9193C8.91305 18.3849 8.59234 17.8389 8.05781 17.6999C7.52328 17.561 6.97734 17.8818 6.83844 18.4163L8.77413 18.9193ZM5.89177 22.059C5.75285 22.5935 6.07356 23.1394 6.60809 23.2783C7.14261 23.4173 7.68854 23.0965 7.82746 22.5619L5.89177 22.059ZM8.07262 17.7039C7.54029 17.5569 6.9895 17.8691 6.84241 18.4014C6.6953 18.9338 7.0076 19.4846 7.53993 19.6317L8.07262 17.7039ZM11.0719 20.6077C11.6043 20.7547 12.1551 20.4425 12.3022 19.9102C12.4493 19.3778 12.137 18.827 11.6046 18.6799L11.0719 20.6077ZM7.85961 16.0002C7.85797 14.3535 8.33216 12.7415 9.22513 11.3581L7.54477 10.2735C6.44277 11.9808 5.85758 13.9701 5.85961 16.0022L7.85961 16.0002ZM9.22513 11.3581C10.0993 10.0012 11.3587 8.93491 12.8414 8.29707L12.0511 6.45985C10.203 7.25486 8.63432 8.58214 7.54477 10.2735L9.22513 11.3581ZM12.8402 8.29762C14.3006 7.67174 15.9173 7.50681 17.4741 7.82489L17.8745 5.86537C15.9185 5.46574 13.8873 5.67297 12.0524 6.45931L12.8402 8.29762ZM17.4709 7.82423C19.04 8.15009 20.4741 8.94153 21.5864 10.0952L23.0263 8.70707C21.6348 7.26381 19.8405 6.27369 17.8776 5.86602L17.4709 7.82423ZM21.5864 10.0952C22.5408 11.083 23.239 12.2906 23.6185 13.6107L25.5406 13.0582C25.0709 11.4237 24.208 9.93014 23.0263 8.70707L21.5864 10.0952ZM25.5474 13.5859L26.4941 9.94333L24.5584 9.44027L23.6117 13.0829L25.5474 13.5859ZM24.846 12.3706L21.314 11.3946L20.7813 13.3223L24.3133 14.2983L24.846 12.3706ZM24.5263 16.0022C24.528 17.6487 24.0537 19.2607 23.1608 20.6442L24.8412 21.7287C25.9432 20.0215 26.5282 18.0322 26.5263 16.0002L24.5263 16.0022ZM23.1608 20.6442C22.2866 22.0013 21.0272 23.0674 19.5445 23.7051L20.3336 25.543C22.1817 24.7479 23.7517 23.4201 24.8412 21.7287L23.1608 20.6442ZM19.5445 23.7051C18.0841 24.331 16.4685 24.4954 14.9118 24.1774L14.5114 26.1369C16.4673 26.5365 18.4986 26.3293 20.3336 25.543L19.5445 23.7051ZM14.9149 24.1781C13.346 23.8522 11.9117 23.0607 10.7995 21.9071L9.35969 23.2951C10.7511 24.7385 12.5454 25.7286 14.5083 26.1362L14.9149 24.1781ZM10.7995 21.9071C9.8451 20.9193 9.14681 19.7117 8.76737 18.3915L6.8452 18.9441C7.31502 20.5786 8.1779 22.0721 9.35969 23.2951L10.7995 21.9071ZM6.83844 18.4163L5.89177 22.059L7.82746 22.5619L8.77413 18.9193L6.83844 18.4163ZM7.53993 19.6317L11.0719 20.6077L11.6046 18.6799L8.07262 17.7039L7.53993 19.6317Z"
                                              fill="#49276E" />
                                    </svg>
                                </div>
                            </div>






                            <div class="pt-1  text-center">
                                <button class="btn btn-outline-warning btn-lg btn-block   w-75" type="submit"
                                        style="  border-radius:50px; color:#0B325C;">
                                    ارسل
                                </button>
                            </div>
                        </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3623.540512574839!2d46.7633066!3d24.7426503!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2f019f2e6aeb79:0x6e3ce4e617b5cb9c!2sAbadnet+Institute+for+Training!5e0!3m2!1sen!2sin!4v1551245793585"
      width="100%" height="470" frameborder="0" allowfullscreen=""></iframe>

  </div>



<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    var randomNumber = Math.floor(Math.random() * 9000) + 1000;
    document.getElementById("ranNum").textContent = randomNumber;
    function generateRandomNumber() {
        var randomNumber = Math.floor(Math.random() * 9000) + 1000;
        document.getElementById("ranNum").textContent = randomNumber;
    }



    function validateForm() {
        var userInput = document.getElementById('userCode').value;
        var randomNumber = document.getElementById("ranNum").textContent;

        if (userInput === randomNumber.toString()) {
            Swal.fire({
                icon: 'success',
                title: 'تم الارسال بنجاح!',
                showConfirmButton: false,
                timer: 300000
            });

            return true;
        } else {
            Swal.fire({
                title: 'الكود غير مطابق',
                confirmButtonColor: '##095F90',
                confirmButtonText: 'فهمت'
            });

            return false;
        }
    }
</script>