:root {
    --white: #ffffff;
    --black: #000;
    --black-info: #0B1131;
    --yellow: #F2B829;
    --blue: #0B325C;
    --blue-bg: #0D5F91;
    --swiper-theme-color: #F2B829;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
}

/* header */

header {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: auto;
    background: linear-gradient(81deg, #003F75 0%, #00132C 115.16%);
}

/* header */


header .navbar {
    width: 92%;
    margin: auto;
    
}


header .navbar.fixed .navbar-brand img{
    width: 142px;
    height: 68px;
    flex-shrink: 0;
}


header .navbar .lang svg{
    margin-left: 5px;
    margin-right: 5px;
    width: 11px;
    height:11px ;
}

header .navbar .lang span{
    color: #FEFEFE;
font-size: 13px;
font-weight: 500;
}

header .navbar .navbar-brand img {
    width: 142px;
    height: 68px;
    flex-shrink: 0;
}

header .navbar .offcanvas {
    background-color: #fff;
}

header .navbar .navbar-nav .nav-link {
    font-size: 14px;
    color: var(--white);
    font-weight: 700;
}

.navbar .navbar-nav .nav-item .nav-but {
    color: var(--white);
    padding: 10px 25px;
    font-size: 13px;
    border-radius: 13px;
}

.navbar .navbar-nav .nav-item .nav-but.btn2 {
    background-color: var(--blue-bg);
}

.navbar-toggler:focus {
    box-shadow: none;
}



header .heading-courses {
    display: flex;
    justify-content: right;
    width: 90%;
    flex-direction: column;
    color: var(--white);
    padding-right: 35px;
    padding-top: 80px;
    padding-bottom: 40px;
}

header .heading-courses h2 {
    color: #FFF;
    text-align: right;
    font-size: 46px;
    font-weight: 800;
    margin-bottom: 50px;
}

header .heading-courses p {
    color: #FEFEFE;
    text-align: right;
    font-size: 18px;
    font-weight: 500;
    line-height: 37px;
}

.title-page {

    width: 100%;
    padding-right: 100px;
    color: #102447;
    font-size: 16px;
    font-weight: 700;
    line-height: 9px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
    border-bottom: 1px solid rgba(9, 95, 144, 0.35);
    margin-bottom: 40px;
}

.title-page span {
    color: rgba(16, 36, 71, 0.50);
    font-size: 16px;
    font-weight: 700;
    line-height: 9px;
}


/* courses */
.all-courses {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
}


.all-courses .list-course {
    width: 25%;
}

.all-courses .list-course .video-course video {
    height: 100%;
    border-radius: 24px;

}

.all-courses .list-course .price-course {
    border-radius: 24px;
    background: #FFF;
    box-shadow: 0px 0px 24px 0px rgba(9, 95, 144, 0.18);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    margin-top: 15px;
}

.all-courses .list-course .price-course {
    border-radius: 24px;
    background: #FFF;
    box-shadow: 0px 0px 24px 0px rgba(9, 95, 144, 0.18);
}

.all-courses .list-course .price-course .price {
    color: #095F90;
    font-size: 24px;
    font-weight: 700;
}


.courses {
    width: 70%;
    height: auto;
    border-radius: 24px;
    background: #FFF;
    box-shadow: 0px 0px 24px 0px rgba(9, 95, 144, 0.18);
    margin-bottom: 50px;
    overflow: hidden;
}

.courses .nav-link {
    background-color: #F9F9F9;
    border-bottom: 1px solid rgba(9, 95, 144, 0.35);
    border-right: 1px solid rgba(9, 95, 144, 0.35);
    border-left: 1px solid rgba(9, 95, 144, 0.35);
    border-top: none;
    border-radius: 0px;
    color: #0B325C;
    text-align: center;
    font-size: 16px;
    height: 82px;
    font-weight: 700;
}

.all-courses .list-course .content-details {
    border-radius: 24px;
    background: #FFF;
    box-shadow: 0px 0px 24px 0px rgba(9, 95, 144, 0.18);
    width: 100%;
    margin-top: 20px;
}

.all-courses .list-course .content-details ul {
    list-style: none;
    padding: 20px;
}

.all-courses .list-course .content-details ul li {
    padding: 10px 0px;
    border-bottom: 1px solid rgba(9, 95, 144, 0.15);
    color: #095F90;
    text-align: right;
    font-size: 14px;
    font-weight: 700;
    display: flex;
}

.all-courses .list-course .btn-course {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    width: 85%;
    margin: auto;
}

.all-courses .list-course .btn-course a {
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;

    margin-bottom: 10px;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
}

.all-courses .list-course .content-details ul li svg {
    margin-left: 10px;
}



.courses .nav-link.active {
    border-top: 10px solid #F2B829;
    border-radius: none;
}

.tab-content {
    padding: 40px 50px;

}


.tab-content .tab-pane h2 {
    color: #095F90;
    text-align: right;
    font-size: 28px;
    font-weight: 700;
}

.tab-content .tab-pane h3 {
    color: #F2B829;
    text-align: right;
    font-size: 22px;
    font-weight: 700;
}


.tab-content .tab-pane span {
    color: #F2B829;
    font-size: 18px;
    font-weight: 800;
}

.tab-content .tab-pane .live-courses,
.tab-content .tab-pane .online-courses {
    color: #095F90;
    text-align: right;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
    border: 1px solid #F2B829;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
}

.tab-content .tab-pane table {
    width: 100%;
}

.tab-content .tab-pane table tr {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(167, 124, 39, 0.21);
    color: #095F90;
    align-items: center;
    font-weight: 700;
    font-size: 15px;
    padding: 20px 0px;
}

.tab-content .tab-pane table tr button {
    border-radius: 50px;
    background: #0EA349;
    color: #FFF;
    text-align: center;
    font-size: 11px;
    font-weight: 700;
    padding: 9px 30px;

}

.tab-content .tab-pane p {
    color: #0B325C;
    text-align: right;
    font-size: 18px;
    font-weight: 600;
    line-height: 2;
}

/*footer  */

footer {
    display: flex;
    flex-direction: column;
    height: auto;
    background: linear-gradient(-268deg, #002348 0.59%, #013E75 0.6%, #05264D 97%);
}

footer .media-width {
    width: 90% !important;
    margin: auto;
}

footer .links .footer-links {
    text-align: right;

}

footer .links .footer-links .footer-icons-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-top: 60px;
}

footer .links .footer-links .footer-icons-payment {
    position: absolute;
    margin-top: 90px;
}

footer .links .footer-links h6 {
    font-size: 18px;
    color: #FEFEFE;
    font-weight: 900;

}

footer .links .footer-links a {
    text-decoration: none;
    color: #FEFEFE !important;
    font-size: 14px;
    font-weight: 200;
}

footer .links .footer-links .subscribe {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 50px;
    border-radius: 23px;
    margin-bottom: 20px;

}

footer .links .footer-links .subscribe input {
    border: none;
    font-size: 14px;
    padding-right: 5px;
    border-radius: 23px;

}

footer .links .footer-links .subscribe h3 {
    font-size: 14px;
    background-color: var(--yellow);
    margin-bottom: 0px;
    color: white;
    padding: 10px;
    border-radius: 0px 23px 23px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .links .footer-links .contact-1 {
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin-bottom: 50px;

}

footer .links .footer-links .contact-2 {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;

}

footer .links .footer-links .contact-1 span {
    font-size: 14px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


footer .links .footer-links .contact-2 span {
    font-size: 14px;
    color: white;
}

footer .copyright {
    border-top: 1px solid rgba(254, 254, 254, 0.70);
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.70);

}


footer .media {
    display: none;
}

footer .media .footer-icons-social {
    display: flex;
    justify-content: space-between;
    width: 30%;
    align-items: center;
}

footer .media .footer-media-contact {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 90%;

}

footer .media .contact-1 {
    display: flex;

}

footer .media .contact-2 {
    display: flex;

}

footer .media .contact-1 span {
    font-size: 14px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


footer .media .contact-2 span {
    font-size: 14px;
    color: white;
    padding-right: 10px;
}


/* un footer */
.un__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 0px;

}

.un__footer .developer {
    font-size: 16px;
    font-weight: 500;
    color: white;



}

.un__footer .developer span {
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    font-weight: 800;
    font-weight: bolder;
}




/* end un footer */