:root {
    --white: #ffffff;
    --black: #000;
    --black-info: #0B1131;
    --yellow: #F2B829;
    --blue: #0B325C;
    --blue-bg: #0D5F91;
    --swiper-theme-color: #F2B829;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
}

body {
    height: 100vh;


}

/* header */

header {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: auto;
    background: linear-gradient(81deg, #003F75 0%, #00132C 115.16%);
}




/* header */


header .navbar {
    width: 92%;
    margin: auto;
    
}


header .navbar.fixed .navbar-brand img{
    width: 142px;
    height: 68px;
    flex-shrink: 0;
}


header .navbar .lang svg{
    margin-left: 5px;
    margin-right: 5px;
    width: 11px;
    height:11px ;
}

header .navbar .lang span{
    color: #FEFEFE;
font-size: 13px;
font-weight: 500;
}

header .navbar .navbar-brand img {
    width: 142px;
    height: 68px;
    flex-shrink: 0;
}

header .navbar .offcanvas {
    background-color: #fff;
}

header .navbar .navbar-nav .nav-link {
    font-size: 14px;
    color: var(--white);
    font-weight: 700;
}

.navbar .navbar-nav .nav-item .nav-but {
    color: var(--white);
    padding: 10px 25px;
    font-size: 13px;
    border-radius: 13px;
}

.navbar .navbar-nav .nav-item .nav-but.btn2 {
    background-color: var(--blue-bg);
}

.navbar-toggler:focus {
    box-shadow: none;
}


.payment-title {
    width: 90%;
    margin: auto;
    margin-top: 50px;
}

.payment-title h1 {
    color: #095F90;
    text-align: right;
    font-size: 46px;
    font-weight: 900;
}

/* payment */
.payment {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;
    margin-bottom: 150px;
}

.payment .left-payment {
    border-radius: 24px;
    background: #FFF;
    width: 65%;
    padding: 30px;
    box-shadow: 0px 4px 24px 0px rgba(9, 95, 144, 0.18);
}

.payment .left-payment table {
    width: 100%;
}


.payment .left-payment table tr {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(167, 124, 39, 0.21);

}

.payment .left-payment table tr .price {
    color: #095F90;
    font-size: 18px;
    font-style: normal;
    font-weight: 700 !important;
}

.payment .left-payment table tr th {
    font-size: 14px;
    padding: 15px;

    color: #095F90;
    text-align: center;
}

.payment .left-payment table tr td {
    font-size: 13px;
    color: #095F90;
    padding: 15px 5px;
    font-weight: 700;
    text-align: center;
}

.payment .left-payment table tr td img {
    border-radius: 12px;

    width: 86px;
    height: 86px;
    flex-shrink: 0;
}


.payment .right-payment {
    border-radius: 24px;
    background: #FFF;
    width: 30%;
    padding: 20px;
    box-shadow: 0px 4px 24px 0px rgba(9, 95, 144, 0.18);
}

.payment .right-payment button {
    border-radius: 50px;
    background: #0EA349;
    color: #FFF;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 90%;

    font-size: 20px;
    font-weight: 700;
    padding: 20px;
    border: none;
    margin-top: 30px;
}

.payment .right-payment .bold {
    color: #095F90;
    font-size: 16px;
    font-weight: 700;
}


.payment .right-payment h2 {
    color: #095F90;
    font-size: 24px;
    font-weight: 700;
}

.payment .right-payment ul {
    list-style: none;
    padding: 0px;
}

.payment .right-payment ul li {
    display: flex;
    justify-content: space-between;
    color: rgba(9, 95, 144, 0.74);
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid rgba(9, 95, 144, 0.15);
    padding: 15px 0px;

}

.payment .right-payment .payment-methods {
    border-bottom: 1px solid rgba(9, 95, 144, 0.15);


}

.payment .right-payment .payment-methods li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #0B325C;
    text-align: right;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    border: none;
}

.payment .right-payment p {
    color: #095F90;
    font-size: 14px;
    font-weight: 500;
    text-align: left;

}

.payment .right-payment p a {
    color: #F2B829;
    font-size: 14px;
    font-weight: 600;
}


.payment .right-payment .payment-role {
    display: flex;
    color: #0B325C;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.15px;
}

.payment .right-payment .payment-role input {
    margin-left: 5px;
}

.payment .right-payment .payment-role label a {
    color: #F2B829;
    font-size: 14px;
    font-weight: 600;
}

.payment .right-payment .payment-methods li input {

    margin-left: 5px;
}

.payment .right-payment .payment-methods li input:checked {
    accent-color: green;
}

/*footer  */


footer {
    display: flex;
    flex-direction: column;
    height: auto;
    background: linear-gradient(-268deg, #002348 0.59%, #013E75 0.6%, #05264D 97%);
}

footer .media-width {
    width: 90% !important;
    margin: auto;
}

footer .links .footer-links {
    text-align: right;

}

footer .links .footer-links .footer-icons-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-top: 60px;
}

footer .links .footer-links .footer-icons-payment {
    position: absolute;
    margin-top: 90px;
}

footer .links .footer-links h6 {
    font-size: 18px;
    color: #FEFEFE;
    font-weight: 900;

}

footer .links .footer-links a {
    text-decoration: none;
    color: #FEFEFE !important;
    font-size: 14px;
    font-weight: 200;
}

footer .links .footer-links .subscribe {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 50px;
    border-radius: 23px;
    margin-bottom: 20px;

}

footer .links .footer-links .subscribe input {
    border: none;
    font-size: 14px;
    padding-right: 5px;
    border-radius: 23px;

}

footer .links .footer-links .subscribe h3 {
    font-size: 14px;
    background-color: var(--yellow);
    margin-bottom: 0px;
    color: white;
    padding: 10px;
    border-radius: 0px 23px 23px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .links .footer-links .contact-1 {
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin-bottom: 50px;

}

footer .links .footer-links .contact-2 {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;

}

footer .links .footer-links .contact-1 span {
    font-size: 14px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


footer .links .footer-links .contact-2 span {
    font-size: 14px;
    color: white;
}

footer .copyright {
    border-top: 1px solid rgba(254, 254, 254, 0.70);
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.70);

}


footer .media {
    display: none;
}

footer .media .footer-icons-social {
    display: flex;
    justify-content: space-between;
    width: 30%;
    align-items: center;
}

footer .media .footer-media-contact {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 90%;

}

footer .media .contact-1 {
    display: flex;

}

footer .media .contact-2 {
    display: flex;

}

footer .media .contact-1 span {
    font-size: 14px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


footer .media .contact-2 span {
    font-size: 14px;
    color: white;
    padding-right: 10px;
}


/* un footer */
.un__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 0px;

}

.un__footer .developer {
    font-size: 16px;
    font-weight: 500;
    color: white;

}

.un__footer .developer span {
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    font-weight: 800;
    font-weight: bolder;
}

/* end un footer */