/* Ganral Code */
body::-webkit-scrollbar {
  width: 7px; 
}

body::-webkit-scrollbar-track {
  background: transparent; 
}

body::-webkit-scrollbar-thumb {
  background-color: var(--Blue-dark);
  border-radius: 20px;
}

@font-face {
  font-family: Myfont;
  src: url(../font/DinaFont.TTF);
}
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: Myfont;
  direction: rtl;
}
a {
  color: #ffffff;
  text-decoration: none;
}

:root {
  --Blue: #1f75fe;
  --Orange: #fba70b;
  --White: #ffffff;
  --Blue-dark: #1b548a;
}

.text-White {
  color: var(--White);
}

.text-blue {
  color: var(--Blue);
}
.text-orange {
  color: var(--Orange);
}
.text-blue-dark {
  color: var(--Blue-dark);
}

.backround-orange {
  background-color: var(--Orange);
}

.backround-blue {
  background-color: var(--Blue);
}
.backround-blue-dark {
  background-color: var(--Blue-dark);
}

/* start Header and footer */
.menu-mobile {
  width: 100%;
  height: 70px;
  background-color: white;
  display: none;
  justify-content: space-between;
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: fixed;
  top: 0;
  z-index: 1;
  
}
.Header-Fill {
  height: 60px;
  top: 0px;
  transition: top 0.3s ease, left 0.3s ease;
  z-index: 1;
}
.div-Menue {
  height: 100%;
  z-index: 1;
}
.div-Menue-head div {
  margin-left: 30px;
}
.div-Menue-head .first-item {
  margin-left: 0;
}
.div-Menue-head div span {
  color: var(--White);
  font-size: 10px;
  font-weight: bold;
}
.div-Menue-head div span svg {
  padding-right: 10px;
  font-size: 18px;
}
.div-Menue-mobile {
  display: none;
}
.fa-bars {
  font-size: 30px;
}
.Home-Section {
  background-image: url("../img/HomeHeader.svg");
  background-size: 100%;
  height: 880px;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  direction: rtl;
}
.nav-link {
  color: var(--White);
}
.active {
  color: var(--Orange) !important;
}
.div-logo {
  position: absolute;
  height: 118px;
  background-image: linear-gradient(to right, var(--Blue-dark), #2269a3);
  top: -60px;
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  transition: top 0.3s ease, left 0.3s ease;
}
.div-foot .mt-5{
  text-align: center;
}
.div-foot{
  text-align: center;
}
.foot-icon {
  text-align: center;
}
.copyright{
  text-align: center;
}
.cotent-in {
  justify-content: space-between;
  background: white;
  width: 100%;
  padding: 10px;
  flex-wrap: wrap;
  box-shadow:  rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  display: none;
  top: 117px;
  position: fixed;
  z-index: 1;
  animation: fadeEffect  .2s;
}

.cotent-in div {
  margin-left: 20px;
  margin-top: 10px;
}
.cotent-in div a {
  font-size: 15px;
  transition: color .5s ease; 
  color: var(--Blue-dark);
}
.cotent-in div a:hover {
   color: var(--Orange); 
}
.contet-section {
  height: 620px;
  width: 90%;
  display: flex;
  align-items: center;
  padding-top: 20px;
}
.navbar {
  background-color: #0e4069;
  z-index: 1;
}
.section-title h5 {
  font-size: 30px;
}
.content-section-title {
  width: 580px;
  padding: 20px;
}
.section-Image img {
  width: 205px;
  height: 90px;
}
.section-title h5 {
  color: var(--White);
}
.section-body p {
  color: var(--White);
  font-size: 18px;
}
.section-button {
  margin-top: 40px;
}
.section-button a {
  background: var(--Orange);
  padding: 10px 50px;
  border-radius: 50px;
  transition: 0.15s padding ease-out, 0.15s margin ease-out,
    0.15s border ease-out;
  font-size: 14px;
}
.section-button a:hover {
  padding: 10px 20px;
}
.content-fot {
  width: 100%;
  height: 100%;
}
.foot {
  padding: 40px;
  color: var(--Orange);
}
.cot h5 {
  color: var(--Orange);
}
.colt {
  flex-direction: column;
}
.colt a {
  font-size: 14px;
}
.colt a:hover {
  color: var(--Orange);
  transition: color .5s ease; 
}
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  top: 50px;
}
.div-foot {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.div-foot img {
  width: 210px;
}
.foot-icon svg {
  margin-top: 10px;
  margin-right: 20px;
}
.foot-icon svg:hover {
  color: var(--Orange);
}
.foot-icon svg {
  font-size: 28px;
}
.copyright {
  margin-top: 20px;
}
.copyright p {
  font-size: 18px;
  color: #999a9c;
}
.cot h4 {
  margin-top: 20px;
}
.myclass {
  color: var(--Blue-dark);
}
.color-red {
  color: red !important;
}

/* start Content body */
.div-cat {
  width: 245px;
  height: 215px;
  border-radius: 10px;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.div-cat img {
  width: 25px;
  height: 30px;
}
.div-cat p {
  color: var(--Blue-dark);
  font-size: 18px;
  margin-top: 20px;
}
.menue-mobile button {
  padding: 5px 20px;
  background: transparent;
  border: 1px solid var(--Blue-dark);
  border-radius: 50px;
  color: var(--Blue-dark);
  font-size: 16px;
}
.menue-mobile {
  display: none !important;
}
.soll-class {
  display: block !important;
  transform: translateY(0) !important;
  transition: transform 0.5s ease;
  top: 0;
}
.back {
  display: none;
}
.section-number {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}
.section-number-content {
  display: flex;
  justify-content: center;
  margin-right: 20px;
  border-left: 1px solid var(--Blue);
}
.num-count {
  padding-left: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.icone-mobile{
  cursor: pointer;
}

.num-image {
  padding-left: 20px;
}
.num-autocount h3 {
  font-size: 24px;
  color: var(--Blue);
  transition: transform 0.5s;
}
.counter-animate {
  transform: translateY(-20px);
}
.num-title h4 {
  font-size: 16px;
  color: var(--Blue-dark);
}
.firt-num {
  border: none;
}
.num-image img {
  width: 95px;
}
.div-radio {
  margin-right: 40px;
}
.div-radio label {
  color: var(--Blue-dark);
}
.div-radio input[type="text"] {
  border: none;
  border-bottom: 1px solid #707070;
  font-size: 16px;
  padding: 5px;
}
.div-radio input[type="text"]:focus {
  outline: none;
  border-bottom: 1px solid var(--Blue);
  transition: all 0.5s;
}
.mar-right {
  margin-right: 40px;
}
.manage-att {
  background: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 10px;
}
.div-tilte-att h2 {
  color: var(--Blue-dark);
}
.div-date-att span {
  color: var(--Blue);
  font-size: 12px;
}
.div-time-att span {
  color: var(--Blue);
  font-size: 12px;
}
.div-tpye-att p {
  color: var(--Blue-dark);
  font-size: 12px;
}
.div-tpyeData-att p {
  color: var(--Blue-dark);
  font-size: 12px;
}
.div-goal-att p {
  color: #3eb763;
  font-size: 12px;
}
.div-goalon-att h5 {
  color: var(--Blue);
}
.div-buttons-att {
  display: flex;
  margin-top: 10px;
}
.div-buttons-att a {
  padding: 0px 10px;
  margin-left: 10px;
  border-radius: 30px;
  background-color: var(--Orange);
}
.div-buttons-att .first-link {
  background-color: white;
  color: var(--Orange);
  border: 1px solid var(--Orange);
}
.fcal {
  justify-content: center;
}
.onlin-div {
  display: none;
  animation: fadeEffect 1s;
}
.all-div {
  display: none;
  animation: fadeEffect 1s;

}
.div-att{
  animation: fadeEffect 1s;
}
.section-Dates{
  padding-bottom: 100px;
}
.icon-mobile-menue{
  cursor: pointer;
}
.section-about{
  background-image: url(../img/sectionbg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 450px;
  justify-content: center;
  align-items: center;
  position: relative;
}
.div-about{
  width: 90%;
  height: 380px;
  display: flex;
  align-items: center;
  padding-right: 50px;
  justify-content: space-between;
}
.content-about{
  color: white;
  width:450px;
  
}
.title-about h1{
  font-size: 35px;
}
.div-regist{
  width: 360px;
  background: white;
  height: auto;
  position: relative;
  top: -117px;
  left: -80px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
}
.div-title-regist{
  width: 100%;
    height: 60px;
    background: var(--Blue);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-title-regist h1{
   font-size: 20px;
}
.fomr-reg{
  padding: 20px;
}
.text-man{
  margin-top: 25px;
  text-align: center;
}
.text-man input[type=text]{
  width: 100%;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #999a9c;
  font-size: 12px;
}
.text-man input[type=submit]{
    width: 100%;
    padding: 10px;
    background-color: var(--Orange);
    border: none;
    color: white;
    border-radius: 30px;
}
.text-man input[type=text]:focus{
 outline: none;
 border-bottom: 1px solid var(--Blue);
 transition: all .5s;
}
.card{
  padding: 10px;
  border-radius:20px ;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 20px;
  margin-right: 20px;
  direction: rtl;
}
.card-img-top{
  width: 100% !important;
}
.blog-icon{
  color: var(--Orange);
  font-size: 26px;

}
.nav-link:focus, .nav-link:hover {
  color: var(--Orange) !important;
  transition: color .5s ease; 

}
.link-blog{
  text-align: left;
}
.blog-pad{
  padding: 40px;
  justify-content: center;
  flex-direction: row;
}
.form-mobile{
  display: none;
  animation: fadeEffect .5s;
}

.line-blog{
  display: flex;
  justify-content: end;
}
.line{
  height: 1px;
  background-color: var(--Orange);
  margin-top: 10px;
}
.link-button a{
  padding: 10px 50px;
  background-color: var(--Orange);
  font-size: 16px;
  border-radius:30px ;

}
.fade:not(.show) {
  opacity: 1;
}
.slick-dotted.slick-slider{
  direction: ltr;
}
.slick-dots{
  opacity: 0 !important;
}
.slick-next:before ,.slick-prev:before{
  color: var(--Orange) !important;
  font-size: 25px !important;
  
}
.slick-next:before{
  margin-left: 0;
}
.slick-prev:before{
  margin-left:-10;
}
.clint-images-page{
  width: 120px;
  height: 120px !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
  margin-left: 60px;
}
.slick-prev, .slick-next{
  top: 60% !important;
}
.slick-track{
  height: 140px;
}





/* srart Code Proerty Rights */
.logoel{
    display: flex;
    right: 130px;
}
.navbar-nav-page{
  margin-right: 230px
}
.nav-page{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
  background-color: white;
  
}
.nav-link-page {
  color: var(--Blue-dark);
}
.nav-link-page:focus, .nav-link-page:hover {
  color: var(--Blue-dark);
  transition: color .5s ease; 

}
.fax{
  position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}
.section-allpage{
  padding-top: 150px;
}
.div-content-copy{
  color: var(--Blue-dark);
}
.header-copy{
  margin-top: 20px;
}
.text-man-copty{
  font-size: 32px;
}
.nav-link-page:hover {
color: var(--Orange);
transition: color .5s ease; 
}
.activel{
  color: var(--Blue) !important;
}
.overfill {
  direction: ltr;
}


/* end Code Traning */

/* srart Code Training */

.section-trang{
  background-image: url(../img/Traning/Traning.jpg);
  background-repeat: no-repeat;
  margin-top: 110px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  

}
.head-contnt-tran svg rect{
  fill: var(--White);
}
.div-tran{
  height: auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
  
}
.div-prag p{
  color: var(--Blue-dark);
  font-size: 22px;
}
.text-button {
  display: flex;
  justify-content: space-between;
}
.text-button input[type="submit"]{
  width: 50%;
  padding: 5px;
}
.text-button input[type="text"]{
  width: auto;
}
.text-button label{
    background: #B7B7B7;
    padding: 5px 20px;
    color: white;
  margin-right: 5px;

}
.text-fontel input[type="text"]{
  font-size: 16px;
}
.form-padding{
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.div-btn{
  text-align: right;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.btn-blogek{
  width: 100%;
  text-align: left;
}

/* end Code Traning */



/* strat Code braches */
.div-brache{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
}
.div-branchs-img img{
  width: 100%;
}
.div-content-branche{
  display: flex;
  justify-content: center;
  padding: 10px;
}

/* end Code braches */

/* strat Code Conntent */
.div-map{
  width: 100%;
  height: 500px;
}
.marg-ri{
  margin-right: 30px;
}
.div-conect-us{
  box-shadow: none;
  justify-content: space-around;
}
.div-us{
  padding: 20px;
  background-color: var(--White);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 260px;
  border-radius: 15px;
  margin-top: 20px;
}
/* end Code Conntent */


/* strat Code Course */
.mange-course{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.div-img-course{
  width: 150px;
  height: 150px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.div-img-course img{
  width: 100%;
}
/* Style the tab */
.tab {
  overflow: hidden;
  display: flex;
  border: 1px solid #ccc;
  background-color: #2073B8;
  transition: all 0.3s ease;
  animation:  fadeEffect .5s;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 70px;
  transition: 0.3s;
  font-size: 17px;
  color: white;
}


.tab button:hover {
  background-color: var(--Orange);
  transition: color .5s ease; 

}
.clisic{
  color: var(--Blue) !important;
}

.tab button.active {
  background-color: var(--Blue-dark);
  color: white !important;

}

.tabcontent {
  display: none;
  padding: 6px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
  color: var(--Blue-dark);
}

@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.coures-mobile{
  display: flex;
  justify-content: space-between;
}
.coures-mobile{
  display: flex;
  justify-content: space-between;
  background-color: #2073B8;
  padding: 5px 20px;
  display: none
}
.coures-mobile h5{
  font-size: 16px;
    color: white;
}
.coures-mobile svg{
  font-size: 20px;
    color: white;
    cursor: pointer;
}
.coco{
  display: block;
}

/* end Code Course */




















@media only screen and (min-width: 2500px){
  .section-trang{
    background-size: cover;
  }
  .Home-Section {
    background-size: cover;
    height: 3200px;
  }


}


/* start media Query */
@media only screen and (max-width: 992px) {
  .section-number-content {
    margin-top: 40px;
  }
  .section-number-content {
    border: none;
  }
  .Home-Section {
    background-image: url("../img/HomeTablet.svg");
    background-size: 100%;
    height: 100%;
  }

  .content-section-title {
    width: 490px;
    padding: 20px;
  }
  .contet-section {
    margin-right: auto;
    width: 95%;
    padding-top: 0px;
    margin-right: -60px;
  }
  .section-title h5 {
    font-size: 26px;
  }
  .section-body p {
    font-size: 16px;
  }
  .section-button {
    margin-top: 10px;
  }
  .div-about{
    justify-content: stretch;
  }

  .blog-pad{
    justify-content: end;
  }
  .div-foot {
    margin-top: 50px;
  }
  .navbar-nav{
    display: flex;
    flex-direction: row;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);
  }
  .div-logo{
    right: 30px !important;
    height: 126px !important;
  }
  .navbar-nav{
    margin-right: 110px !important;
  }
  .tab button{
    padding: 5px 40px;
  }
  .section-number{
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 377px) {
  .section-Image img {
    width: 105px !important;
    height: 55px !important;
  }
  .section-title h5 {
    font-size: 16px !important;
  }
  .contet-section {
    width: 100%;
    padding-top: 10px !important;
    margin-right: -20px;
  }
  .content-section-title {
    width: 200px !important;
  }
  .section-body p {
    color: var(--White);
    font-size: 10px !important;
  }
  .section-title {
    width: 150px;
  }
  .section-body {
    width: 210px !important;
  }
  .section-button {
    margin-top: 10px;
  }
  .section-button a {
    font-size: 12px !important;
  }
  .section-number-content {
    width: auto !important;
  }
  .num-count {
    padding-left: 10px !important;
  }
  .div-radio input[type="text"] {
    width: 210px !important;
  }
  .div-buttons-att a {
    padding: 0px 10px;
  }
  .fcal {
    padding: 10px !important;
  }
  .fcal {
    justify-content: center !important;
  }
  .div-regist {
    left: -10px !important;
  }
  .card-img-top {
    width: 170px;
}
.contet-section{
  margin-top: -50px;
}
.cotent-in{
  justify-content: space-between;
}
.section-allpage{
  margin-top: 50px;
}
.content-fot {
  padding-right: 0px  !important;
  padding-top: 0px !important;
}
.text-button input[type="text"] {
  width: 100px;
}
.text-button label {
  padding: 2px 8px;
}
.card {
  width: 220px !important;
}
.blog-pad{
  padding: 0 !important;
  margin-left: -5px !important;

}

}

@media only screen and (max-width: 480px) {
  .Home-Section {
    background-image: url("../img/HomeMobile.svg");
  }
  .section-Image img {
    width: 120px !important;
    height: 55px;
  }
  .contet-section {
    width: 100%;
    padding-top: 0;
    margin-right: -10px;
  }
  .section-title h5 {
    font-size: 20px;
  }
  .section-body p {
    font-size: 14px;
  }
  .content-fot {
    padding-right: 10px;
    padding-top: 40px;
  }
  .foot-icon {
    display: flex;
    justify-content: center;
  }
  .foot-icon svg {
    font-size: 24px;
    margin-right: 0;
    padding-left: 10px;
  }
  .copyright p {
    font-size: 12px;
  }
  .foot {
    padding: 30px;
  }
  .navbar {
    display: none;
    z-index: 1;
  }
  .section-button a {
    padding: 5px 20px !important;
    font-size: 14px;
  }
  .section-body {
    width: 300px;
  }
  .content-section-title {
    width: 230px !important ;
  }
  .section-body p {
    font-size: 14px;
  }
  .menue-mobile {
    display: flex !important;
  }
  .section-cat {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: white;
    padding: 18px;
    z-index: 300;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 0.5s ease;
    left: 0;
  }
  .div-cat img {
    width: 25px;
    height: 30px;
  }
  .div-cat p {
    color: var(--Blue-dark);
    font-size: 18px;
    margin-top: 20px;
  }
  .div-cat {
    width: 165px;
    height: 180px;
    margin-left: 10px;
  }
  .back {
    display: block;
    cursor: pointer;
  }
  .num-image img {
    width: 75px;
  }
  .section-number-content {
    width: 180px;
  }
  .section-number-content {
    margin-right: 0;
  }
  .num-title h4 {
    text-align: center;
  }
  .num-count {
    padding-left: 0px;
  }
  .num-image {
    padding-left: 0;
  }
  .div-radio input[type="text"] {
    width: 290px;
  }
  .div-radio {
    margin-top: 20px;
    margin-right: 20px;
  }
  .fcal {
    padding: 7px !important;
    justify-content: space-around;
  }
  .manage-att {
    margin-left: 20px;
    margin-top: 10px;
    width: 181px;
  }
  .div-tilte-att h2 {
    font-size: 22px;
  }
  .div-buttons-att a {
    padding: 0px 10px !important;
    font-size: 12px;
  }
  .manage-att {
    padding: 10px;
  }
  .div-goalon-att h5 {
    font-size: 14px;
  }
  .manage-att {
    margin-left: 7px !important;
  }
  .div-about{
  padding-right: 0px;

  }
  .content-about{
    width: auto;
  }
  .div-about{
    margin-top: -70px;
    margin-left: auto;
    margin-right: auto;
  }
  .div-regist{
    margin-top: 70px;
  }
  .line-blog{
    justify-content: center;
  }
  .mobile-header h1{
    font-size: 18px;
}
.div-content-copy{
  font-size: 14px;
}
.header-copy{
  margin-top: 20px;
}
.div-btn{
  display: block;
}
.text-button input[type="submit"] {
  width: 50%;
}
.div-btn {
  text-align: right;
}
.btn-blogek {
   text-align: center;
   margin-top: 50px;
}
.div-tran {
  padding: 10px;
}
.branches-prag label{
  display: block;
}
.model-banrch h1{
  font-size: 34px !important;
}
.blog-pad ul{
  bottom: 50px !important;
}
.blog-pad{
  padding-bottom: 0 !important;
}
}

@media only screen and (max-width: 680px) {
  .tent-section-title {
    width: 370px;
  }
  .section-button a {
    padding: 5px 20px;
    font-size: 16px;
  }
  .section-body p {
    font-size: 12px;
  }
}
@media only screen and (max-width: 772px) {
  .Header-Fill {
    background-color: var(--Blue);
    height: auto;
    padding-bottom: 20px;
  }
  .div-Menue-mobile {
    display: flex;
  }
  .content-section-title {
    width: 380px;
  }
  .contet-section{
    margin-right: 0;
    margin-top: -30px
  }
  .div-Menue-head div span {
    font-size: 12px;
    font-weight: bold;
  }
  .div-Menue-head {
    flex-wrap: wrap;
  }
  .div-Menue-head div span svg {
    padding-right: 10px;
    font-size: 10px;
  }
  .div-Menue-head div {
    margin-left: 20px;
  }
  .icone-mobile {
    display: block !important;
  }
  .ponet {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .div-foot img {
    width: 170px;
    margin-top: 20px;
  }
  .colt a {
    font-size: 14px;
  }
  .cot h4 {
    margin-top: 20px;
    font-size: 20px;
  }
  .navbar {
    top: 0 !important;
    display: none;
  }
  .manage-att {
    margin-left: 0;
  }
  .fcal {
    padding: 40px;
  }
  .div-about{
    flex-direction: column;
  }
  .div-regist{
    position: static;
    margin-top: 140px;
    width: 100%;
  }
  .card{
    margin-right: 0;
  }
  .section-blog{
    margin-top: 550px;
  }
  .form-mobile{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #ffffffab;
    top: 70px;
    z-index: 2;
  }
  .div-moblie-slid{
    padding: 10px;
    background-color: white;
    width: 176px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 5px;

  }
  .Link-mobile{
    font-size: 14px;
    padding: 5px;
    
  }
  .Link-mobile a{
   color: var(--Blue-dark);
    
  }
  .Link-head{
    text-align: center;
  }
  .Link-head h6{
    color: var(--Orange);
  }
  .foot-mobile{
    text-align-last: center;
  }
  .foot-mobile a svg{
  color: var(--Blue-dark);
  margin-right: 5px;
  }
  .copyr{
    text-align: center;
  }
  .copyr p{
    font-size: 12px;
  }
  .line{
    display: none;
  }
  .link-button a{
    padding: 5px 30px;
  }
  .hea-fill{
    display: block;
    top: 70px;
    position: fixed;
  }
  .my-mobile{
    display: flex;
  }
  .slick-prev, .slick-next{
    display:none !important;
  }
  .slick-dots li button:before{
    color: var(--Blue) !important;
  }
  .slick-dots{
    opacity: 1 !important;
  }
  .line-blog{
    justify-content: center;
  }
  .tokel{
    top: 70px !important;
  }
  .slick-initialized .slick-slide{
    margin-left: 40px;
  }
  .clint-images-page{
    margin-top: 20px;
  }
  .slick-list{
    height: 320px;
  }
  .overfill .slick-list{
    height: 520px;
  }
  
  .slick-slide{
    height: auto !important;
  }
  .slick-list .slick-dots{
    bottom: 0;
  }
  .card{
    box-shadow: none;
  }
  .slick-dots{
    left: 0;
  }
  .blog-pad{
    padding-left: 0;
  }
  .blog-pad ul{
    bottom: 40px;
  }
  .blog-pad{
    padding-bottom: 20;
    margin-bottom: 0 !important;
  }
  .div-us{
    height: auto;
  }
  .coures-mobile{
    display: flex;
  }
  .tab{
    flex-direction: column;
    width: 80px;
    border-radius: 7px;
    position: absolute;
    left: 0px;
    z-index: 0;
    background-color: var(--Blue);
    display: none;
    top: -10px;

  }
  .section-tabs{
    position: relative;
  }
  .tab button{
    font-size: 10px;
    padding:5px;
  }
  .tabcontent{
    position: relative;
    z-index: -1;
  }
  .card {
    width: 250px;
  }
  .blog-pad {
    padding-left: 20px;
  }
}
